
    <!-- Required Js -->
    <script src="/static/assets/js/vendor-all.min.js"></script>
    <script src="/static/assets/js/app.min.js"></script>
    <!-- <script src="/static/assets/plugins/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="/static/assets/plugins/bootstrap/js/bootstrap421.min.js"></script>
    <!-- <script src="/static/assets/plugins/bootstrap/js/bootstrappro.min.js"></script> -->
    <script src="/static/assets/plugins/select2/js/select2.min.js"></script>
    <script src="/static/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script src="/static/assets/plugins/modal-window-effects/js/classie.js"></script>
    <script src="/static/assets/plugins/modal-window-effects/js/modalEffects.js"></script>
    <script src="/static/assets/plugins/notification/js/bootstrap-growl.min.js"></script>
    <script src="/static/assets/plugins/inputmask/js/autoNumeric.min.js"></script>
    <script src="/static/assets/plugins/js/collapse.js"></script>
    <script src="/static/assets/plugins/choices.min.js"></script>
    <script src="/static/assets/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/plugins/popper.min.js"></script>
    <!-- <script src="/static/assets/plugins/menu-setting.js"></script> -->
    <!-- <script src="/static/assets/plugins/smart-wizard/js/jquery.smartizard.min.css"></script> -->
    <script src="/static/assets/js/pcoded.min.js"></script>

        <!-- Specific Page JS goes HERE  -->
    <script>
        
        // var textRemove = new Choices(
        //     document.getElementById('skill-mlt-select'), {
        //     delimiter: ',',
        //     editItems: true,
        //     maxItemCount: 5,
        //     removeItemButton: true,
        // }
        // );
    </script>



	<!-- <script src="https://appsrv1-147a1.kxcdn.com/datta-able-pro-v100/js/menu-setting.js"></script> -->
    
    <script>
        //notification 
        function notify(from, align, icon, type, animIn, animOut, message) {
            $.growl({ 
                icon: icon, title: '', message: message, url: '' 
            }, {
                element: 'body', type: type, allow_dismiss: true, 
                placement: { from: from, align: align },
                offset: { x: 30, y: 30 },
                spacing: 10, z_index: 999999, delay: 3900, timer: 1000, url_target: '_blank', mouse_over: false,
                animate: { enter: animIn, exit: animOut },
                icon_type: 'class',
                template: '<div data-growl="container" class="alert" role="alert">' +
                                '<button type="button" class="close btn btn-lg p-1 m-0" data-growl="dismiss">' +
                                    '<span aria-hidden="true">&times;</span>' +
                                    '<span class="sr-only">Close</span>' +
                                '</button>' +
                                '<span data-growl="icon"></span>' +
                                '<span data-growl="title"></span>' +
                                '<span data-growl="message"></span>' +
                                '<a href="#!" data-growl="url"></a>' +
                            '</div>'
            });
        };

        function checkInput(input, feedback){
            var value = $(input).val();
            if(value=='' || value==null){
                $(input).css('border', '1px solid red');
                $(feedback).show();
            }else{
                $(input).css('border', '');
                $(feedback).hide();
            }
        };

        function invalidFeedback(input, feedback){
            $(input).on({
                focusout: function() {
                    checkInput(input, feedback);
                },
                keyup: function() {
                    checkInput(input, feedback);
                }
            });
        }


        function checkInputPassword(){
            var password = $('#password').val();
            var confirm_password = $('#confirm_password').val();
            if(password!=confirm_password && confirm_password!=''){
                $('#confirm_password').css('border', '1px solid red');
                $('#ifb_confirm_password').hide();
                $('#ifb_confirm_password_check').show();
            } else if (confirm_password==''){
                $('#confirm_password').css('border', '1px solid red');
                $('#ifb_confirm_password_check').hide();
                $('#ifb_confirm_password').show();
            } else if (password == confirm_password){
                $('#confirm_password').css('border', '');
                $('#ifb_confirm_password').hide();
                $('#ifb_confirm_password_check').hide();
            }
        };

        function invalidFeedbackPassword(){
            $('#confirm_password').on({
                focusout: function() {
                    checkInputPassword();
                },
                keyup: function() {
                    checkInputPassword();
                }
            });
        }


        function validateEmail(email){
            var testEmail = /^[A-Z0-9._%+-]+@([A-Z0-9-]+\.)+[A-Z]{2,4}$/i;
            if (testEmail.test(email)){
                return true;
            }else{
                return false;
            }
        }
        function checkInputEmail(){
            var value = $('input#email').val();
            var result = validateEmail(value);
            if(value == ''){
                $('input#email').css('border', '1px solid red');
                $('small#ifb_email').text('Email là trường bắt buộc.');
                $('small#ifb_email').show();
            }else if(!result && value!=''){
                $('input#email').css('border', '1px solid red');
                $('small#ifb_email').text('Email không hợp lệ.');
                $('small#ifb_email').show();
            }else{
                $('input#email').css('border', '');
                $('small#ifb_email').text('');
                $('small#ifb_email').hide();
            }
        };

        function invalidFeedbackEmail(){
            $('input#email').on({
                focusout: function() {
                    checkInputEmail();
                },
                keyup: function() {
                    checkInputEmail();
                }
            });
        }

        function validatePhone(phone){
                var testPhone = /([\+84|84|0]+(3|5|7|8|9|1[2|6|8|9]))+([0-9]{8})\b/;
                if (testPhone.test(phone)){
                    return true;
                }else{
                    return false;
                }
            }
            function checkInputPhone(){
                var value = $('input#phone').val();
                var result = validatePhone(value);
                if(value == ''){
                    $('input#phone').css('border', '1px solid red');
                    $('small#ifb_phone').text('Số điện thoại là trường bắt buộc.');
                    $('small#ifb_phone').show();
                }else if(!result && value!=''){
                    $('input#phone').css('border', '1px solid red');
                    $('small#ifb_phone').text('Số điện thoại không hợp lệ.');
                    $('small#ifb_phone').show();
                }else{
                    $('input#phone').css('border', '');
                    $('small#ifb_phone').text('');
                    $('small#ifb_phone').hide();
                }
            };

            function invalidFeedbackPhone(){
                $('input#phone').on({
                    focusout: function() {
                        checkInputPhone();
                    },
                    keyup: function() {
                        checkInputPhone();
                    }
                });
            }


        function checkInputSelect(input, feedback){
            var value = $(input).val();
            // alert(value);
            var attribute = "[aria-labelledby*='" + input.slice(1) + "']";
            if(value=='' || value==null){
                $(attribute).css('border', '1px solid red');
                $(feedback).show();
            }else{
                $(attribute).css('border', '');
                $(feedback).hide();
            }
        };

        function invalidFeedbackSelect(input, feedback){
            $(input).on({
                'select2:closing': function() {
                    checkInputSelect(input, feedback);
                }
            });
        }

        

        $('input#email').on('keyup', function(){
            var value = $(this).val();
            var result = validateEmail(value);
            if(!result && value!=''){
                $(this).css('border', '1px solid red');
                $('small.email').text('Email không hợp lệ.');
            }else{
                $(this).css('border', '');
                $('small.email').text('');
            }
        });


         // Fuction show alert modal
         function showAlertModal(label, message){
            $('#alertModalLabel').html(label); 
            $('#msg').html(message); 
            $('#alertModal').modal('show'); 
        }

        // Fuction show form modal
        function showFormModal(label){
            // Add label modal
            $('#formModalLabel').html(label); 
            $('#formModal').modal('show'); 
        }

        //Multiple modals overlay
        $(document).on('show.bs.modal', '.modal', function() {
            const zIndex = 1040 + 10 * $('.modal:visible').length;
            $(this).css('z-index', zIndex);
            setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
        });
    </script>
