
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="https://appseed.us/admin-dashboards/flask-datta-able" class="b-brand">
                    <div class="b-bg">
                        <i class="feather icon-trending-up"></i>
                    </div>
                    <span class="b-title">Thang Long University</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Navigation</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'index' in segment %} active {% endif %}">
                        <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                    <li class="nav-item pcoded-menu-caption">
                        <label>Thông tin toàn trường</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'khoa' in segment %} active {% endif %}">
                        <a href="/khoa" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Khoa</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'nganh' in segment %} active {% endif %}">
                        <a href="/nganh" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Ngành</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'mon' in segment %} active {% endif %}">
                        <a href="/mon" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Môn</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'chuongtrinhdaotao' in segment %} active {% endif %}">
                        <a href="/chuongtrinhdaotao" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Chương trình đào tạo</span></a>
                    </li>
                    
                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
