
    <nav class="pcoded-navbar">
        <div class="navbar-wrapper">
            <div class="navbar-brand header-logo">
                <a target="_blank" 
                   href="/" class="b-brand">
                    <span class="p-4" style='background-image: url(/static/assets/images/LogoTLU.jpg)!important; background-size: 2.2rem; background-repeat: no-repeat;'>
                    </span>
                    <span class="b-title">TLU</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">

                    <li class="nav-item pcoded-menu-caption">
                        <label>Báo cáo thống kê</label>
                    </li>
                    <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                        class="nav-item {% if 'thongkect' in segment %} active {% endif %}">
                        <a href="/thongkect" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Thống kê</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Nhân viên</label>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'profilenvhssv' in segment %} active {% endif %}">
                        <a href="/profilenvhssv" class="nav-link "><span class="pcoded-micon"><i class="feather icon-file"></i></span><span class="pcoded-mtext">Thông tin cá nhân</span></a>
                    </li>
                    <li data-username="form elements advance componant validation masking wizard picker select" 
                        class="nav-item {% if 'sinhvien' in segment %} active {% endif %}">
                        <a href="/sinhvien" class="nav-link "><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext">Sinh viên</span></a>
                    </li>



                    <li data-username="Disabled Menu" class="nav-item">
                        <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                            <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
