
<li class="nav-item pcoded-menu-caption">
    <label>Toàn trường</label>
</li>
<li data-username="form elements advance componant validation masking wizard picker select" 
    class="nav-item {% if 'tkbtruong' in segment %} active {% endif %}">
    <a href="/tkbtruong" class="nav-link "><span class="pcoded-micon"><i class="feather icon-calendar"></i></span><span class="pcoded-mtext">Thời khóa biểu toàn trường</span></a>
</li>
<li data-username="form elements advance componant validation masking wizard picker select" 
    class="nav-item {% if 'lichthitruong' in segment %} active {% endif %}">
    <a href="/lichthitruong" class="nav-link "><span class="pcoded-micon"><i class="feather icon-award"></i></span><span class="pcoded-mtext">Lịch thi toàn trường</span></a>
</li>
<li data-username="form elements advance componant validation masking wizard picker select" 
    class="nav-item {% if 'chuongtrinhdaotao' in segment %} active {% endif %}">
    <a href="/chuongtrinhdaotaotruong" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clipboard"></i></span><span class="pcoded-mtext">Chương trình đào tạo</span></a>
</li>