
{% extends "layouts/base.html" %}

{% block title %} Danh sách chương trình đào tạo {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Chương trình đào tạo</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Chương trình đào tạo</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="mr-auto">Danh sách chương trình đào tạo</h5>
                                <div class="ml-auto">
                                    <button id="add" type="button" class="btn btn-outline-primary btn-sm mr-0 mb-0" title="Thêm mới ngành">
                                        <div>Thêm mới <i class="feather icon-plus-circle"></i></div>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-border-style">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-hover" data-provide="selectall">
                                            <thead>
                                                <tr>
                                                    <th>Mã Chương Trình Đào Tạo</th>
                                                    <th>Tên Chương Trình Đào Tạo</th>
                                                    <th>Ngành</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmationModal">
                Open modal
            </button> -->
        </div>

        <!-- Chương Trình Đào Tạo Form Modal -->
        <div></div>
        <div class="modal fade" id="formModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content rounded">
                <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                    <h5 class="modal-title font-weight-bold" id="formModalLabel"></h5>
                    <button type="button" class="close btn btn-lg closeFormModal" data-dismiss="modal" aria-label="Close">
                        <h3 class="m-0" aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body px-4 pt-4 pb-0">
                    <form id="formCtdt" class="form-edit" role="form" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.ma_ctdt.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.ma_ctdt(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_ma_ctdt" class="invalid-feedback text-danger position-absolute text-truncate">Mã ngành là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.ten_ctdt.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.ten_ctdt(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_ten_ctdt" class="invalid-feedback text-danger position-absolute text-truncate">Tên ngành là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.nganh_id.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.nganh_id(class="form-control") }}
                                        <small id="ifb_nganh_id" class="invalid-feedback text-danger position-absolute text-truncate">Ngành là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.mon_id.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.mon_id(class="form-control", multiple="multiple") }}
                                        <small id="ifb_mon_id" class="invalid-feedback text-danger position-absolute text-truncate">Môn học là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="padding: 12px 24px;">
                    <button type="button" class="btn btn-primary btn-sm m-0 saveEdit">Lưu</button>
                    <button type="button" class="btn btn-primary btn-sm m-0 saveAdd">Lưu</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Delete Comfirm Modal  -->
        <div id="deleteConfirmationModal" role="dialog" tabindex="-1" class="modal fade" aria-modal="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content rounded" role="document">
                    <!--  -->
                    <div class="modal-body px-0 pb-0">
                        <div class="w-100 px-2 d-flex flex-column align-items-center justify-content-between">
                            <i class="feather icon-trash-2 fa-5x pt-3 text-red"></i> 
                            <span class="py-3">
                                <h5 class="mb-0 text-red">Delete record</h5>
                            </span>
                        </div>
                        <div class="bg-grey px-3 mt-3 modal-bottom-radius">
                            <div class="text-center pt-4 text-dark">
                                <div class="pt-2">
                                    Xóa ngành này sẽ xóa các bản ghi có liên quan. Bạn có chắc chắn muốn xóa ngành này không?
                                </div>
                            </div>
                            <div class="d-flex py-3 justify-content-center">
                                <button type="button" data-dismiss="modal" aria-label="Close" class="mr-3 btn btn-sm btn-outline-dark"><span>Hủy</span></button>
                                <button type="button" class="delete btn btn-sm btn-outline-danger"><span>Xóa</span></button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>

        <!-- Modal Alert -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content rounded" role="document">
                    <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                        <h5 class="modal-title font-weight-bold" id="alertModalLabel">Thông báo trùng lặp</h5>
                        <button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close">
                            <h3 class="m-0" aria-hidden="true">&times;</h3>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2" id="msg"></div>
                    </div>
                    <div class="modal-footer" style="padding: 12px 24px;">
                        <!-- <button type="button" name="insert_data" id="btn_save" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button> -->
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            // $("#alertModal").on("show", function () {
            //     $("body").addClass("modal-open");
            // }).on("hidden", function () {
            //     $("body").removeClass("modal-open")
            // });
            // $(body.modal-open).css('overflow', 'hidden');
            // $(body).css('position', 'fixed');
            // $('#alertModal').modal().on('show', function(){
            //     $('body').css('overflow', 'hidden');
            // }).on('hidden', function(){
            //     $('body').css('overflow', 'auto');
            // });

            // $('select.selectpicker').attr('data-live-search', true);
            $('#nganh_id').select2();
            $('#mon_id').select2({
                closeOnSelect : false,
                // placeholder : "Chọn môn học",
                allowHtml: true,
                allowClear: true,
                tags: true
            })
            $("#nganh_id").val('').trigger('change')
            $("#mon_id").val('').trigger('change')
            $('.select2-container').addClass('d-block');

            // alert($("#mon_id").val(''));

            var datatablesOptions = {
                ajax: {
                    url: '/api/ctdt',
                    type: 'POST'
                },
                columns: [
                    {data: 'ma_ctdt'},
                    {data: 'ten_ctdt'},
                    {data: 'ten_nganh'},
                    {
                        render: function (data, type, row) {
                            return '<ul class="list-inline mb-0 p-0 rounded-6 w-maxContent d-flex align-items-center rowActions">'+
                                        '<li data-id="'+ row.id + '" title="Chỉnh sửa" class="editCtdt list-inline-item c-pointer px-2 m-0"><i class="feather icon-edit-2"></i></li>'+
                                        '<li data-id="'+ row.id + '" title="Xóa" class="delCtdt hoverDanger list-inline-item c-pointer px-2 m-0"><i class="feather icon-trash-2"></i></li>'+
                                    '</ul>'
                        }, orderable: false, searchable: false
                    }             
                ], autoWidth: false, bDestroy: true, ordering: false
            };
            $('#table').dataTable(datatablesOptions);

            // call function invalid-feedback
            invalidFeedback('#ma_ctdt', '#ifb_ma_ctdt');
            invalidFeedback('#ten_ctdt', '#ifb_ten_ctdt');
            invalidFeedbackSelect('#nganh_id', '#ifb_nganh_id');
            
            
            // notify('top', 'right', '', 'info', 'animated fadeIn', 'animated fadeOut', 'Thêm thành công!');
            
            
            // Reset form when close modal
            $('button.closeFormModal').on('click', function(){
                $('#formCtdt').trigger('reset');
                $("#nganh_id").val('').trigger('change');
                $("#mon_id").val('').trigger('change');
                $('input').css('border', '');
                $('.select2-selection').css('border', '');
                $('small.invalid-feedback').hide('');
            });

            // Open add modal
            $('button#add').on('click', function(){
                // Change class save button
                $('button.saveEdit').hide();
                $('button.saveAdd').show();
                showFormModal('Thêm mới chương trình đào tạo');
            });

            // Event click the save button to add new
            $('.saveAdd').on('click', function(){
                saveForm('', 'POST');
            });

            // Event click the save button to edit
            $('.saveEdit').on('click', function(){
                var id = $(this).attr("data-id");
                saveForm(id, 'PUT');
            });

            // Function save form
            function saveForm(id, method){
                var ma_ctdt = $('#ma_ctdt').val();
                var ten_ctdt = $('#ten_ctdt').val();
                var nganh_id = $('#nganh_id').val();
                var mon_id = $('#mon_id').val();
                if(ma_ctdt=='' || ten_ctdt=='' || nganh_id==null){
                    checkInput('#ma_ctdt', '#ifb_ma_ctdt');
                    checkInput('#ten_ctdt', '#ifb_ten_ctdt');
                    checkInputSelect('#nganh_id', '#ifb_nganh_id');
                }else{
                    if(method!='POST'){id='/'+id;}
                    $.ajax({
                        url: '/chuongtrinhdaotao'+id,
                        type: method,
                        traditional: true,
                        data: {ma_ctdt: ma_ctdt, ten_ctdt: ten_ctdt, nganh_id: nganh_id, mon_id: mon_id},
                        success: function(data){
                            if(data.duplicate){
                                showAlertModal('Thông báo trùng lặp', data.duplicate);
                            }else if(data.success){
                                notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                                $('#formModal').modal('hide');
                                $('#formCtdt').trigger('reset');
                                $("#nganh_id").val('').trigger('change')
                                $("#mon_id").val('').trigger('change')
                                // $('#ma_ctdt').removeAttr('value');
                                // $('#ten_ctdt').removeAttr('value');
                                $('#table').dataTable(datatablesOptions);
                            }
                        }
                    });
                }
            }

            // Edit
            $('#table').on('click', '.editCtdt', function(){
                // Call api
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/api/ctdt/info',
                    type: 'POST',
                    data: {id: id},
                    success: function(data){
                        if(data.data){
                            // Set input value
                            $('#ma_ctdt').val(data.data.ma_ctdt);
                            $('#ten_ctdt').val(data.data.ten_ctdt);
                            $("#nganh_id").val(data.data.nganh_id).trigger('change');
                            var substr = []
                            $.each(data.data.mons, function(key, value){
                                substr.push(value.mon_id);
                            });
                            $("#mon_id").val(substr).trigger('change');

                            //Open modal
                            $('button.saveAdd').hide();
                            $('button.saveEdit').show().attr('data-id', id);
                            // $('#formModal').on('click', '.editCtdt', function() {
                            // $('.saveAdd').removeClass('saveAdd').addClass('saveEdit');
                            // });
                            showFormModal('Chỉnh sửa chương trình đào tạo: ' + data.data.ten_ctdt);
                            
                        }else if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }
                    }
                });
            });


            $('#deleteConfirmationModal').on('click', 'button.delete', function(){
                $.ajax({
                    url: '/chuongtrinhdaotao/'+$(this).attr("data-id"),
                    type: 'DELETE',
                    success: function(data){
                        if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }else if(data.success){
                            notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                            $('#table').dataTable(datatablesOptions);
                            $('#deleteConfirmationModal').modal('hide');
                        }
                    }
                });
            });

            // Event click the save button to remove
            $('#table').on('click', '.delCtdt', function(){
                $('#deleteConfirmationModal').modal('show'); 
                $('button.delete').attr('data-id', $(this).attr("data-id"));
            });
        });
    </script>

{% endblock javascripts %}