
{% extends "layouts/base.html" %}

{% block title %} Danh sách lịch thi {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content pt-2">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Lịch thi</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Lịch thi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="mr-auto">Danh sách lịch thi</h5>
                                <div class="ml-auto">
                                    <table style="float:right">
                                        <tbody><tr>
                                            <td>{{ form.nam_id.label(class="text-dark mb-0") }}</td>
                                            <td>{{ form.nam_id(class="form-control bg-white shadow-none border-secondary w-100 h-25 m-1", style="padding: 6px 12px;") }}</td>      
                                        </tr>
                                    </tbody></table>
                                </div>
                                <div class="ml-3">
                                    <table style="float:right">
                                        <tbody><tr>
                                            <td>{{ form.ky_id.label(class="text-dark mb-0") }}</td>
                                            <td>{{ form.ky_id(class="form-control bg-white shadow-none border-secondary w-100 h-25 m-1", style="padding: 6px 12px;") }}</td>           
                                        </tr>
                                    </tbody></table>
                                </div>
                                <div class="ml-4">
                                    <button id="add" type="button" class="btn btn-outline-primary btn-sm mr-0 mb-0" title="Thêm mới lịch thi">
                                        <div>Thêm mới <i class="feather icon-plus-circle"></i></div>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-border-style">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-hover" data-provide="selectall">
                                            <thead>
                                                <tr>
                                                    <th>Mã Môn</th>
                                                    <th>Tên Môn</th>
                                                    <th>Ca Thi</th>
                                                    <th>Phòng Thi</th>
                                                    <th>Ngày Thi</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmationModal">
                Open modal
            </button> -->
        </div>

        <!-- Lịch Thi Form Modal -->
        <div class="modal fade" id="formModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded">
                <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                    <h5 class="modal-title font-weight-bold" id="formModalLabel"></h5>
                    <button type="button" class="close btn btn-lg closeFormModal" data-dismiss="modal" aria-label="Close">
                        <h3 class="m-0" aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body px-4 pt-4 pb-0">
                    <form id="formLichThi" class="form-edit" role="form" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.mon_id.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.mon_id(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_mon_id" class="invalid-feedback text-danger position-absolute text-truncate">Môn học là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.date.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.date(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_date" class="invalid-feedback text-danger position-absolute text-truncate">Ngày thi là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.start.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.start(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <!-- <small id="ifb_start" class="invalid-feedback text-danger position-absolute text-truncate">Ca bắt đầu là trường bắt buộc.</small> -->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.end.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.end(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <!-- <small id="ifb_end" class="invalid-feedback text-danger position-absolute text-truncate">Ca kết thúc là trường bắt buộc.</small> -->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.phong_id.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.phong_id(class="form-control") }}
                                        <small id="ifb_phong_id" class="invalid-feedback text-danger position-absolute text-truncate">Phòng là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer" style="padding: 12px 24px;">
                    <button type="button" class="btn btn-primary btn-sm m-0 saveEdit">Lưu</button>
                    <button type="button" class="btn btn-primary btn-sm m-0 saveAdd">Lưu</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Delete Comfirm Modal  -->
        <div id="deleteConfirmationModal" role="dialog" tabindex="-1" class="modal fade" aria-modal="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content rounded" role="document">
                    <!--  -->
                    <div class="modal-body px-0 pb-0">
                        <div class="w-100 px-2 d-flex flex-column align-items-center justify-content-between">
                            <i class="feather icon-trash-2 fa-5x pt-3 text-red"></i> 
                            <span class="py-3">
                                <h5 class="mb-0 text-red">Delete record</h5>
                            </span>
                        </div>
                        <div class="bg-grey px-3 mt-3 modal-bottom-radius">
                            <div class="text-center pt-4 text-dark">
                                <div class="pt-2">
                                    Xóa lịch thi này sẽ xóa các bản ghi có liên quan. Bạn có chắc chắn muốn xóa lịch thi này không?
                                </div>
                            </div>
                            <div class="d-flex py-3 justify-content-center">
                                <button type="button" data-dismiss="modal" aria-label="Close" class="mr-3 btn btn-sm btn-outline-dark"><span>Hủy</span></button>
                                <button type="button" class="delete btn btn-sm btn-outline-danger"><span>Xóa</span></button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>



        <!-- Danh Sách SV Form Modal -->
        <div class="modal fade" id="formModalSV" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded">
                <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                    <h5 class="modal-title font-weight-bold" id="formModalLabelSV"></h5>
                    <button type="button" class="close btn btn-lg closeFormModalSV" data-dismiss="modal" aria-label="Close">
                        <h3 class="m-0" aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body px-4 pt-4 pb-0">
                    <form id="formSV" class="form-edit" role="form" method="POST">
                        {{ formsv.hidden_tag() }}
                        <div class="row">
                            
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ formsv.sv_id.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ formsv.sv_id(class="form-control bg-white shadow-none", style="padding: 6px 12px;" , multiple="multiple") }}
                                        <small id="ifb_sv_id" class="invalid-feedback text-danger position-absolute text-truncate">Sinh viên là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer" style="padding: 12px 24px;">
                    <button type="button" class="btn btn-primary btn-sm m-0 saveSV">Lưu</button>
                </div>
            </div>
            </div>
        </div>
        

        <!-- Modal Alert -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content rounded" role="document">
                    <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                        <h5 class="modal-title font-weight-bold" id="alertModalLabel">Thông báo trùng lặp</h5>
                        <button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close">
                            <h3 class="m-0" aria-hidden="true">&times;</h3>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2" id="msg"></div>
                    </div>
                    <div class="modal-footer" style="padding: 12px 24px;">
                        <!-- <button type="button" name="insert_data" id="btn_save" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button> -->
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

    <script>
        $(document).ready(function () {
            // $("#alertModal").on("show", function () {
            //     $("body").addClass("modal-open");
            // }).on("hidden", function () {
            //     $("body").removeClass("modal-open")
            // });
            // $(body.modal-open).css('overflow', 'hidden');
            // $(body).css('position', 'fixed');
            // $('#alertModal').modal().on('show', function(){
            //     $('body').css('overflow', 'hidden');
            // }).on('hidden', function(){
            //     $('body').css('overflow', 'auto');
            // });

            function select2SV(mon_id, nam_id, ky_id) {
                // minimumInputLength: 0,
                // tags: [],
                return {
                    ajax: {
                        closeOnSelect : false,
                        // placeholder : "Chọn môn học",
                        allowHtml: true,
                        allowClear: true,
                        tags: true,
                        url: 'api/select/sv_lichthi/'+mon_id+'/'+nam_id+'/'+ky_id,
                        dataType: 'json',
                        type: "GET",
                        quietMillis: 50,
                        results: function (data) {
                            return {
                                results: $.map(data, function (item) {
                                    return {
                                        text: item.text,
                                        id: item.id
                                    }
                                })
                            };
                        }
                    }
                };
            };


            $('form select').select2();
            $('form select').val('').trigger('change');
            // $('#lichthi_id').select2(select2Thi);
            // $('#lichthi_id').val(4).trigger('change');
            $('.select2-container').addClass('d-block');

            $("#start").on("select2:select", function() {
                // alert($('#start').val());
                var start = parseInt($(this).val());
                var end = parseInt($('#end').val());
                if(end!=null && start>end){
                    $(this).val(end).trigger('change');
                    $('#end').val(start).trigger('change');
                }
            });

            $("#end").on("select2:select", function() {
                // alert($('#start').val());
                var start = parseInt($('#start').val());
                var end = parseInt($(this).val());
                if(start!=null && start>end){
                    $('#start').val(end).trigger('change');
                    $(this).val(start).trigger('change');
                }
            });

            function datatablesOptions(nam_id, ky_id) {
                return {
                    ajax: {
                        url: '/api/lichthi/'+nam_id+'/'+ky_id,
                        type: 'GET'
                    },
                    columns: [  
                        {data: 'ma_mon'},
                        {data: 'ten_mon'},
                        {
                            render: function (data, type, row) {
                                if (row.start=='' || row.end==''){
                                    return ''
                                }
                                return row.start + ' - ' + row.end
                            }
                        },
                        {data: 'ten_phong'},
                        {
                            render: function (data, type, row) {
                                const [year, month, day] = row.date.split('-');
                                return day + '/' + month + '/' + year;
                            }
                        },
                        {
                            render: function (data, type, row) {
                                return '<ul class="list-inline mb-0 p-0 rounded-6 w-maxContent d-flex align-items-center rowActions">'+
                                            '<li data-id="'+ row.id + '" title="Sinh viên" class="editSV_Thi list-inline-item c-pointer px-2 m-0"><i class="feather icon-users"></i></li>'+
                                            '<li data-id="'+ row.id + '" title="Chỉnh sửa" class="editLichThi list-inline-item c-pointer px-2 m-0"><i class="feather icon-edit-2"></i></li>'+
                                            '<li data-id="'+ row.id + '" title="Xóa" class="delLichThi hoverDanger list-inline-item c-pointer px-2 m-0"><i class="feather icon-trash-2"></i></li>'+
                                        '</ul>'
                            }, orderable: false, searchable: false
                        }             
                    ], autoWidth: false, bDestroy: true
                };
            };
            var nam_id = $('#nam_id').val();
            var ky_id = $('#ky_id').val();
            $('#table').dataTable(datatablesOptions(nam_id, ky_id));

            $('#nam_id').on('change', function() {
                var nam_id = $('#nam_id').val();
                var ky_id = $('#ky_id').val();
                $('#table').dataTable(datatablesOptions(nam_id, ky_id));
            });
            $('#ky_id').on('change', function() {
                var nam_id = $('#nam_id').val();
                var ky_id = $('#ky_id').val();
                $('#table').dataTable(datatablesOptions(nam_id, ky_id));
            });

            // call function invalid-feedback
            invalidFeedbackSelect('#mon_id', '#ifb_mon_id');
            invalidFeedback('#date', '#ifb_date');
            
            
            // Reset form when close modal
            $('button.closeFormModal').on('click', function(){
                $('#formLichThi').trigger('reset');
                $('#formLichThi select').val('').trigger('change');
                $('.select2-selection').css('border', '');
                $('small.invalid-feedback').hide('');
            });

            // Open add modal
            $('button#add').on('click', function(){
                // Change class save button
                $('button.saveEdit').hide();
                $('button.saveAdd').show();
                showFormModal('Thêm mới lịch thi');
            });

            // Event click the save button to add new
            $('.saveAdd').on('click', function(){
                saveForm('', 'POST');
            });

            // Event click the save button to edit
            $('.saveEdit').on('click', function(){
                var id = $(this).attr("data-id");
                saveForm(id, 'PUT');
            });

            // Function save form
            function saveForm(id, method){
                var mon_id = $('#mon_id').val();
                var date = $('#date').val();
                var start = $('#start').val();
                var end = $('#end').val();
                var ky_id = $('#ky_id').val();
                var phong_id = $('#phong_id').val();
                if(mon_id==null || date==null || ky_id==null){
                    checkInputSelect('#mon_id', '#ifb_mon_id');
                    checkInput('#date', '#ifb_date');
                }else{
                    if(method!='POST'){id='/'+id;}
                    $.ajax({
                        url: '/lichthi'+id,
                        type: method,
                        traditional: true,
                        data: {mon_id: mon_id, date: date, start: start, end: end, ky_id: ky_id, phong_id: phong_id},
                        success: function(data){
                            if(data.duplicate){
                                showAlertModal('Thông báo trùng lặp', data.duplicate);
                            }else if(data.success){
                                notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                                $('#formModal').modal('hide');
                                $('#formLichThi').trigger('reset');
                                $('#formLichThi select').val('').trigger('change');

                                var nam_id = $('#nam_id').val();
                                $('#table').dataTable(datatablesOptions(nam_id, ky_id));
                            }
                        }
                    });
                }
            }

            // Edit
            $('#table').on('click', '.editLichThi', function(){
                // Call api
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/api/lichthi/info',
                    type: 'POST',
                    data: {id: id},
                    success: function(data){
                        if(data.data){
                            // Set input value
                            $('#mon_id').val(data.data.mon_id).trigger('change');
                            $("#date").val(data.data.date).trigger('change');
                            $("#start").val(data.data.start).trigger('change');
                            $("#end").val(data.data.end).trigger('change');
                            $("#phong_id").val(data.data.phong_id).trigger('change');

                            //Open modal
                            $('button.saveAdd').hide();
                            $('button.saveEdit').show().attr('data-id', id);
                            showFormModal('Chỉnh sửa lịch thi: ' + data.data.ma_mon + '-' + data.data.ten_mon + ' | Ca: ' + data.data.start + '-' + data.data.end + ' | Ngày thi: ' + data.data.date);
                            
                        }else if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }
                    }
                });
            });


            $('#deleteConfirmationModal').on('click', 'button.delete', function(){
                $.ajax({
                    url: '/lichthi/'+$(this).attr("data-id"),
                    type: 'DELETE',
                    success: function(data){
                        if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }else if(data.success){
                            notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                            var nam_id = $('#nam_id').val();
                            var ky_id = $('#ky_id').val();
                            $('#table').dataTable(datatablesOptions(nam_id, ky_id));
                            $('#deleteConfirmationModal').modal('hide');
                        }
                    }
                });
            });

            // Event click the save button to remove
            $('#table').on('click', '.delLichThi', function(){
                $('#deleteConfirmationModal').modal('show'); 
                $('button.delete').attr('data-id', $(this).attr("data-id"));
            });





            // Reset form when close modal
            $('button.closeFormModalSV').on('click', function(){
                $('#formSV').trigger('reset');
                $('#formSV select').val('').trigger('change');
                $('.select2-selection').css('border', '');
                $('small.invalid-feedback').hide('');
            });


            // Event click the save button to edit
            $('.saveSV').on('click', function(){
                var id = $(this).attr("data-id");
                saveFormSV(id, 'PUT');
            });

            // Function save form
            function saveFormSV(id, method){
                var sv_id = $('#sv_id').val();
                if(sv_id==null){
                    checkInputSelect('#sv_id', '#ifb_sv_id');
                }else{
                    if(method!='POST'){id='/'+id;}
                    $.ajax({
                        url: '/sv_lichthi'+id,
                        type: method,
                        traditional: true,
                        data: {sv_id: sv_id},
                        success: function(data){
                            if(data.duplicate){
                                showAlertModal('Thông báo trùng lặp', data.duplicate);
                            }else if(data.success){
                                notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                                $('#formModalSV').modal('hide');
                                $('#formSV').trigger('reset');
                                $('#formSV select').val('').trigger('change');

                                // var nam_id = $('#nam_id').val();
                                // $('#table').dataTable(datatablesOptions(nam_id, ky_id));
                            }
                        }
                    });
                }
            }

            // Sinh viên Thi
            $('#table').on('click', '.editSV_Thi', function(){
                // Call api
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/api/lichthi/info',
                    type: 'POST',
                    data: {id: id},
                    success: function(data){
                        if(data.data){
                            var nam_id = $('#nam_id').val();
                            var ky_id = $('#ky_id').val();
                            $('#sv_id').select2(select2SV(data.data.mon_id, nam_id, ky_id));

                            // Set input value
                            var substr = []
                            $.each(data.data.sv_lichthis, function(key, value){
                                if ($('#sv_id').find("option[value='" + value.sv_id + "']").length) {
                                    substr.push(value.sv_id);
                                } else { 
                                    var option = new Option(value.ma_sv + ' - ' + value.last_name + ' ' + value.first_name, value.sv_id, true, true);
                                    $("#sv_id").append(option).trigger('change');
                                }
                            });
                            if(substr.length != 0){
                                $("#sv_id").val(substr).trigger('change');
                            }
                            
                            $('button.saveSV').attr('data-id', id);
                            //Open modal
                            $('#formModalLabelSV').html('Danh sách sinh viên thi: ' + data.data.ma_mon + ' - ' + data.data.ten_mon + ' | Ca: ' + data.data.start + '-' + data.data.end + ' | Ngày thi: ' + data.data.date);
                            $('#formModalSV').modal('show');
                            
                        }else if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }
                    }
                });
            });


        });
    </script>

{% endblock javascripts %}