
{% extends "layouts/base.html" %}

{% block title %} Danh sách nhân viên {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="pcoded-content pt-2">
        <div class="pcoded-inner-content">
            <!-- [ breadcrumb ] start -->
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title">
                                <h5 class="m-b-10">Nhân viên</h5>
                            </div>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                <li class="breadcrumb-item"><a href="javascript:">Nhân viên</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- [ breadcrumb ] end -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- [ Main Content ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header d-flex align-items-center">
                                <h5 class="mr-auto">Danh sách nhân viên</h5>
                                <div class="ml-auto">
                                    <button id="add" type="button" class="btn btn-outline-primary btn-sm mr-0 mb-0" title="Thêm mới nhân viên">
                                        <div>Thêm mới <i class="feather icon-plus-circle"></i></div>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-border-style">
                                    <div class="table-responsive">
                                        <table id="table" class="table table-hover" data-provide="selectall">
                                            <thead>
                                                <tr>
                                                    <th>Mã Nhân Viên</th>
                                                    <th>Tên Nhân Viên</th>
                                                    <th>Ngày Sinh</th>
                                                    <th>Email</th>
                                                    <th>Số Điện Thoại</th>
                                                    <th>Phòng Ban</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ Hover-table ] end -->
                    <!-- [ Main Content ] end -->
                </div>
            </div>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteConfirmationModal">
                Open modal
            </button> -->
        </div>

        <!-- Nhân Viên Form Modal -->
        <div class="modal fade" id="formModal" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content rounded">
                <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                    <h5 class="modal-title font-weight-bold" id="formModalLabel"></h5>
                    <button type="button" class="close btn btn-lg closeFormModal" data-dismiss="modal" aria-label="Close">
                        <h3 class="m-0" aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body px-4 pt-4 pb-0">
                    <form id="formNV" class="form-edit" role="form" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.ma_nv.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.ma_nv(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_ma_nv" class="invalid-feedback text-danger position-absolute text-truncate">Mã nhân viên là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.first_name.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.first_name(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_first_name" class="invalid-feedback text-danger position-absolute text-truncate">Tên nhân viên là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.last_name.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-8 align-self-end">
                                        {{ form.last_name(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_last_name" class="invalid-feedback text-danger position-absolute text-truncate">Họ đệm nhân viên là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.date_birth.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.date_birth(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_date_birth" class="invalid-feedback text-danger position-absolute text-truncate">Ngày sinh là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.email.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.email(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_email" class="invalid-feedback text-danger position-absolute text-truncate"></small>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.phone.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.phone(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_phone" class="invalid-feedback text-danger position-absolute text-truncate">Số điện thoại là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.address.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.address(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.xa.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.xa(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.quan.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.quan(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.city.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.city(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        {{ form.type.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-5 align-self-end">
                                        {{ form.type(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="padding: 12px 24px;">
                    <button type="button" class="btn btn-primary btn-sm m-0 saveEdit">Lưu</button>
                    <button type="button" class="btn btn-primary btn-sm m-0 saveAdd">Lưu</button>
                </div>
            </div>
            </div>
        </div>



        <!-- Tài khoản Form Modal -->
        <div class="modal fade" id="formModalTK" data-backdrop="static" data-keyboard="false" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded">
                <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                    <h5 class="modal-title font-weight-bold" id="formModalLabelTK"></h5>
                    <button type="button" class="close btn btn-lg closeFormModalTK" data-dismiss="modal" aria-label="Close">
                        <h3 class="m-0" aria-hidden="true">&times;</h3>
                    </button>
                </div>
                <div class="modal-body px-4 pt-4 pb-0">
                    <form id="formTK" class="form-edit" role="form" method="POST">
                        {{ form.hidden_tag() }}
                        <div class="row">
                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.username.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-7 align-self-end">
                                        {{ form.username(class="form-control bg-white shadow-none", style="padding: 6px 12px;", disabled="disabled") }}
                                        <!-- <small id="ifb_username" class="invalid-feedback text-danger position-absolute text-truncate">Mã nhân viên là trường bắt buộc.</small> -->
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.password.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-7 align-self-end">
                                        {{ form.password(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_password" class="invalid-feedback text-danger position-absolute text-truncate">Mật khẩu là trường bắt buộc.</small>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <div class="form-group d-flex w-100 mb-2">
                                    <div class="fieldLabel d-flex justify-content-end align-items-top col-3 pt-2 pr-1">
                                        <small class="text-danger mr-1">*</small>{{ form.confirm_password.label(class="text-dark") }}
                                    </div>
                                    <div class="fieldName pr-0 col-7 align-self-end">
                                        {{ form.confirm_password(class="form-control bg-white shadow-none", style="padding: 6px 12px;") }}
                                        <small id="ifb_confirm_password" class="invalid-feedback text-danger position-absolute text-truncate">Xác nhận mật khẩu là trường bắt buộc.</small>
                                        <small id="ifb_confirm_password_check" class="invalid-feedback text-danger position-absolute text-truncate">Mật khẩu không trùng khớp.</small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="padding: 12px 24px;">
                    <button type="button" class="btn btn-primary btn-sm m-0 saveTK">Lưu</button>
                </div>
            </div>
            </div>
        </div>

        <!-- Delete Comfirm Modal  -->
        <div id="deleteConfirmationModal" role="dialog" tabindex="-1" class="modal fade" aria-modal="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content rounded" role="document">
                    <!--  -->
                    <div class="modal-body px-0 pb-0">
                        <div class="w-100 px-2 d-flex flex-column align-items-center justify-content-between">
                            <i class="feather icon-trash-2 fa-5x pt-3 text-red"></i> 
                            <span class="py-3">
                                <h5 class="mb-0 text-red">Delete record</h5>
                            </span>
                        </div>
                        <div class="bg-grey px-3 mt-3 modal-bottom-radius">
                            <div class="text-center pt-4 text-dark">
                                <div class="pt-2">
                                    Xóa nhân viên này sẽ xóa các bản ghi có liên quan. Bạn có chắc chắn muốn xóa nhân viên này không?
                                </div>
                            </div>
                            <div class="d-flex py-3 justify-content-center">
                                <button type="button" data-dismiss="modal" aria-label="Close" class="mr-3 btn btn-sm btn-outline-dark"><span>Hủy</span></button>
                                <button type="button" class="delete btn btn-sm btn-outline-danger"><span>Xóa</span></button>
                            </div>
                        </div>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>

        <!-- Modal Alert -->
        <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-modal="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content rounded" role="document">
                    <div class="modal-header d-flex align-items-center shadow-sm px-4 py-3">
                        <h5 class="modal-title font-weight-bold" id="alertModalLabel">Thông báo trùng lặp</h5>
                        <button type="button" class="close btn btn-lg" data-dismiss="modal" aria-label="Close">
                            <h3 class="m-0" aria-hidden="true">&times;</h3>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="p-2" id="msg"></div>
                    </div>
                    <div class="modal-footer" style="padding: 12px 24px;">
                        <!-- <button type="button" name="insert_data" id="btn_save" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button> -->
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm m-0">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}

    <script>
        $(document).ready(function () {

            var datatablesOptions = {
                ajax: {
                    url: '/api/nhanvien',
                    type: 'POST'
                },
                columns: [
                    {data: 'ma_nv'},
                    {
                        render: function (data, type, row) {
                            return row.last_name + ' ' + row.first_name
                        }
                    },
                    {data: 'date_birth'},
                    {data: 'email'},
                    {data: 'phone'},
                    {
                        render: function (data, type, row) {
                            if(row.type == 1){
                                return 'Phòng Đào tạo'
                            }
                            return 'Phòng Công tác HSSV'
                        }
                    },
                    {
                        render: function (data, type, row) {
                            return '<ul class="list-inline mb-0 p-0 rounded-6 w-maxContent d-flex align-items-center rowActions">'+
                                        '<li data-id="'+ row.id + '" title="Cấp mật khẩu" class="taikhoanNV list-inline-item c-pointer px-2 m-0"><i class="feather icon-unlock"></i></li>'+
                                        '<li data-id="'+ row.id + '" title="Chỉnh sửa" class="editNV list-inline-item c-pointer px-2 m-0"><i class="feather icon-edit-2"></i></li>'+
                                        '<li data-id="'+ row.id + '" title="Xóa" class="delNV hoverDanger list-inline-item c-pointer px-2 m-0"><i class="feather icon-trash-2"></i></li>'+
                                    '</ul>'
                        }, orderable: false, searchable: false
                    }             
                ], autoWidth: false, bDestroy: true, ordering: false
            };
            $('#table').dataTable(datatablesOptions);

            // call function invalid-feedback
            invalidFeedback('#ma_nv', '#ifb_ma_nv');
            invalidFeedback('#first_name', '#ifb_first_name');
            invalidFeedback('#last_name', '#ifb_last_name');
            invalidFeedback('#date_birth', '#ifb_date_birth');
            invalidFeedbackEmail();
            invalidFeedback('#phone', '#ifb_phone');
            
            
            // notify('top', 'right', '', 'info', 'animated fadeIn', 'animated fadeOut', 'Thêm thành công!');
            
            // Reset form when close modal
            $('button.closeFormModal').on('click', function(){
                $('#formNV').trigger('reset');
                $('input').css('border', '');
                $('.select2-selection').css('border', '');
                $('small.invalid-feedback').hide('');
            });

            // Open add modal
            $('button#add').on('click', function(){
                // Change class save button
                $('button.saveEdit').hide();
                $('button.saveAdd').show();
                showFormModal('Thêm mới nhân viên');
            });

            // Event click the save button to add new
            $('.saveAdd').on('click', function(){
                saveForm('', 'POST');
            });

            // Event click the save button to edit
            $('.saveEdit').on('click', function(){
                var id = $(this).attr("data-id");
                saveForm(id, 'PUT');
            });

            // Function save form
            function saveForm(id, method){
                var ma_nv = $('#ma_nv').val();
                var first_name = $('#first_name').val();
                var last_name = $('#last_name').val();
                var date_birth = $('#date_birth').val();
                var email = $('#email').val();
                var phone = $('#phone').val();
                var address = $('#address').val();
                var xa = $('#xa').val();
                var quan = $('#quan').val();
                var city = $('#city').val();
                var type = $('#type').val();
                if(ma_nv=='' || first_name=='' || last_name=='' || email=='' || phone=='' || date_birth=='' || type==null){
                    checkInput('#ma_nv', '#ifb_ma_nv');
                    checkInput('#first_name', '#ifb_first_name');
                    checkInput('#last_name', '#ifb_last_name');
                    checkInput('#date_birth', '#ifb_date_birth');
                    // checkInputEmail('#email', '#ifb_email');
                    checkInputEmail();
                    checkInput('#phone', '#ifb_phone');
                }else{
                    if(method!='POST'){id='/'+id;}
                    $.ajax({
                        url: '/nhanvien'+id,
                        type: method,
                        data: {ma_nv: ma_nv, 
                            first_name: first_name, 
                            last_name: last_name, 
                            date_birth: date_birth,
                            email: email,
                            phone: phone,
                            address: address,
                            xa: xa,
                            quan: quan,
                            city: city,
                            type: type
                        },
                        success: function(data){
                            if(data.duplicate){
                                showAlertModal('Thông báo trùng lặp', data.duplicate);
                            }else if(data.success){
                                notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                                $('#formModal').modal('hide');
                                $('#formNV').trigger('reset');
                                // $("#bomon_id").val('').trigger('change')
                                // $('#ma_mon').removeAttr('value');
                                // $('#ten_mon').removeAttr('value');
                                $('#table').dataTable(datatablesOptions);
                            }
                        }
                    });
                }
            }

            // Edit
            $('#table').on('click', '.editNV', function(){
                // Call api
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/api/nhanvien/info',
                    type: 'POST',
                    data: {id: id},
                    success: function(data){
                        if(data.data){
                            // Set input value
                            $('#ma_nv').val(data.data.ma_nv);
                            $('#first_name').val(data.data.first_name);
                            $('#last_name').val(data.data.last_name);
                            $('#date_birth').val(data.data.date_birth);
                            $('#email').val(data.data.email);
                            $('#phone').val(data.data.phone);
                            $('#address').val(data.data.address);
                            $('#xa').val(data.data.xa);
                            $('#quan').val(data.data.quan);
                            $('#city').val(data.data.city);
                            $("#type").val(data.data.type).trigger('change');
                            //Open modal
                            $('button.saveAdd').hide();
                            $('button.saveEdit').show().attr('data-id', id);
                            // $('#formModal').on('click', '.editMon', function() {
                            // $('.saveAdd').removeClass('saveAdd').addClass('saveEdit');
                            // });
                            showFormModal('Chỉnh sửa nhân viên: ' + data.data.ma_nv + ' - ' + data.data.last_name + ' ' + data.data.first_name);
                            
                        }else if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }
                    }
                });
            });


            $('#deleteConfirmationModal').on('click', 'button.delete', function(){
                $.ajax({
                    url: '/nhanvien/'+$(this).attr("data-id"),
                    type: 'DELETE',
                    success: function(data){
                        if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }else if(data.success){
                            notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                            $('#table').dataTable(datatablesOptions);
                            $('#deleteConfirmationModal').modal('hide');
                        }
                    }
                });
            });

            // Event click the save button to remove
            $('#table').on('click', '.delNV', function(){
                $('#deleteConfirmationModal').modal('show'); 
                $('button.delete').attr('data-id', $(this).attr("data-id"));
            });

            




            invalidFeedbackPassword();
            invalidFeedback('#password', '#ifb_password');
            // invalidFeedback('#confirm_password', '#ifb_confirm_password');
            
            $('#password').on('keyup', function(){
                checkInputPassword();
            });
            $('#confirm_password').on('keyup', function(){
                // alert('keyup');
                checkInputPassword();
            });

            // Reset form when close modal
            $('button.closeFormModalTK').on('click', function(){
                $('#formTK').trigger('reset');
                $('input').css('border', '');
                $('.select2-selection').css('border', '');
                $('small.invalid-feedback').hide('');
            });

            // Event click the save button to edit
            $('.saveTK').on('click', function(){
                var id = $(this).attr("data-id");
                saveFormTK(id, 'PUT');
            });

            // Function save form TK
            function saveFormTK(id, method){
                var password = $('#password').val();
                var confirm_password = $('#confirm_password').val();
                if(password=='' || confirm_password=='' || password!=confirm_password){
                    checkInputPassword();
                    checkInput('#password', '#ifb_password');
                    // checkInput('#confirm_password', '#ifb_confirm_password');
                }else{
                    if(method!='POST'){id='/'+id;}
                    $.ajax({
                        url: '/taikhoan'+id,
                        type: method,
                        data: {nhanvien: 'nhanvien', password: password},
                        success: function(data){
                            if(data.duplicate){
                                showAlertModal('Thông báo trùng lặp', data.duplicate);
                            }else if(data.success){
                                notify('top', 'right', '', 'success', 'animated fadeIn', 'animated fadeOut', data.success);
                                $('#formModalTK').modal('hide');
                                $('#formTK').trigger('reset');

                                // $('#table').dataTable(datatablesOptions);
                            }
                        }
                    });
                }
            }

            $('#table').on('click', '.taikhoanNV', function(){
                // Call api
                var id = $(this).attr("data-id");
                $.ajax({
                    url: '/api/nhanvien/info',
                    type: 'POST',
                    data: {id: id},
                    success: function(data){
                        if(data.data){
                            // Set input value
                            $('#username').val(data.data.username);

                            //Open modal
                            $('button.saveTK').attr('data-id', id);
                            $('#formModalLabelTK').html('Cấp mật khẩu: ' + data.data.ma_nv + ' - ' + data.data.last_name + ' ' + data.data.first_name); 
                            $('#formModalTK').modal('show'); 
                            
                        }else if(data.error){
                            notify('top', 'right', '', 'danger', 'animated fadeIn', 'animated fadeOut', data.error);
                        }
                    }
                });
            });


        });
    </script>

{% endblock javascripts %}